@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./gilroy/gilroy-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./gilroy/gilroy-medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./gilroy/gilroy-semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./gilroy/gilroy-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./gilroy/gilroy-extrabold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./gilroy/gilroy-black.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(./s/dmmono/v16/aftt7pb1qtsux8kyth-oryataa.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./s/dmmono/v16/aftw7pb1qtsux8kyth-qaq.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(./s/dmmono/v16/aftt7pb1qtsux8kyth-o9yetaa.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./s/dmmono/v16/aftr7pb1qtsux8kyvrgyiyq.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./s/dmmono/v16/aftu7pb1qtsux8kyhh0.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./s/dmmono/v16/aftr7pb1qtsux8kyvumziyq.ttf) format('truetype');
}
@font-face {
  font-family: 'Instrument Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./s/instrumentserif/v5/jizhrftns2ka5fxjeivq4lrowlx-6zatiw.ttf) format('truetype');
}
@font-face {
  font-family: 'Instrument Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./s/instrumentserif/v5/jizbrftns2ka5fxjeivq4lrowlx-2zi.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./s/inter/v20/ucco3fwrk3iltehus_nvmrmxcp50sjiw2bokodukmmevulyfmzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./s/inter/v20/ucco3fwrk3iltehus_nvmrmxcp50sjiw2bokodukmmevui6fmzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./s/inter/v20/ucco3fwrk3iltehus_nvmrmxcp50sjiw2bokodukmmevugkymzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./s/inter/v20/ucco3fwrk3iltehus_nvmrmxcp50sjiw2bokodukmmevufuymzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./s/inter/v20/ucco3fwrk3iltehus_nvmrmxcp50sjiw2bokodukmmevudyymzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmlohria8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmlghqia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmlt_qia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmlohqia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmlrpqia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmll_xia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmlmbxia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmlghxia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfokcnqeu92fr1mu53zec9_vu3r1gihoszmoclhrs6ljxfmmlijxia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwubebgmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuzebwmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuaabwmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwubebwmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwub2bwmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuyaammt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuyjammt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuzeammt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(./s/roboto/v51/kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuztammt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xodf4xlvmf-bfr8bxmijhosxg-q2oeufoqfrlnaew9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xodf4xlvmf-bfr8bxmijhosxg-q2oeufoqfrnnaow9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xodf4xlvmf-bfr8bxmijhosxg-q2oeufoqfrk5aow9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xodf4xlvmf-bfr8bxmijhosxg-q2oeufoqfrlnaow9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xodf4xlvmf-bfr8bxmijhosxg-q2oeufoqfrlvaow9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xodf4xlvmf-bfr8bxmijhosxg-q2oeufoqfrm5b-w9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xodf4xlvmf-bfr8bxmijhosxg-q2oeufoqfrmab-w9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xudf4xlvmf-bfr8bxmihjhg45mwggefl0_3vupqw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xudf4xlvmf-bfr8bxmihjhg45mwggefl0_xvqpqw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xudf4xlvmf-bfr8bxmihjhg45mwggefl0_gpqpqw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xudf4xlvmf-bfr8bxmihjhg45mwggefl0_3vqpqw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xudf4xlvmf-bfr8bxmihjhg45mwggefl0_7pqpqw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xudf4xlvmf-bfr8bxmihjhg45mwggefl0_ap2pqw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./s/robotomono/v31/l0xudf4xlvmf-bfr8bxmihjhg45mwggefl0_of2pqw.ttf) format('truetype');
}